<div class="row">
  <div class="col-md-10">
    <div class="card">
      <h3><%= @community.name %></h3>
      <div class="row">
        <div class="col-sm-8">
          <%= render partial: "posts/list", locals: { posts: @posts } %>
        </div>
        <div class="col-4">
          <small><%= simple_format @community.rules %></small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="float-right" align="right">
      <%= link_to "Create New Post", new_community_post_path(@community), class: "btn btn-sm btn-primary float-right" %>
    </div>
  </div>
</div>