<%# <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-wight-normal">Company Name</h5>
  <nav class="my-2 my-md-0  mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-oitline-primary" href="#">Sign-up</a>

</div> %>

<div class="container">
  <div class="row">
    <div class="col-8 pt-3">
      <h3>Reddit Clone</h3>
    </div>
    <div class="col-4 pt-3">
      <div class="float-right">
        <%= link_to "Log In", new_account_session_path, class: "btn btn-sm btn-outline-primary" %>
        <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>